*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color:white;
    --secondary-color:rgb(208, 208, 208);
    --black-text-color: #333333;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: darkred;
}

::-webkit-scrollbar{
    width: 7px;
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-bottom: 10px;
    min-height: 60px;
    background-color: maroon;
    color: var(--color);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    z-index: 10;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header a{
    color: var(--color);
    text-decoration: none;
    position: relative;
}

header a::after{
    content: "";
    height: 3px;
    background-color: white;
    width: 0;
    transition: 0.3s;
    position:absolute;
    bottom: -10px;
    left: 0px;
}

header a:hover:after{
    width: 110%;
   
}


.Main-Info{
    background: url("background.webp");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-Info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 0; 
}

.Main-Info > *{
    position: relative; 
    z-index: 1;
}


.Main-Info h1{
    color: var(--color);
    text-align: center;
    text-shadow: 1px 1px 30px black;
    font-size: 10vh;
    padding-left: 10px;
    padding-right: 10px;
}

.Main-Info h2{
    color: var(--secondary-color);
    text-align: center;
    margin-top: 20px;
    font-size: 2.5vh;
}

.Main-Info p{
    color: var(--secondary-color);
    margin-top: 30px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 1px 1px 20px black;
    max-width: 800px;
}
.Main-Info-logo img{
    width: 200px;
}

.Main-Info-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.Welcome-Section{
    min-height: 100vh;
    width: 100%;
}


/* Another Section  */
.welcome-title-div{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black-text-color);
    background-color: rgb(248, 248, 248);
}

.welcome-title-div div{
    background-color:rgb(248, 248, 248) ;
}

.welcome-title-div h2{
    font-size: 3.5vh;
}

.Welcome-Page-Info{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    padding-top: 50px;
    padding-bottom: 50px;
    row-gap: 50px;
}



.welcome-bg-image img{
    width: clamp(100px,40%,500px);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.403);
}

.welcome-bg-image{
    display: flex;
    justify-content: center;
    align-items: center;
}


.welcome-para-div, .welcome-para-vision-div{
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}

.welcome-para-div p, .welcome-para-vision-div p{
    line-height: 30px;
    color: #333333;
}

.welcome-vision-div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    padding-top: 50px;
    padding-bottom: 50px;
    row-gap: 50px;
}

.welcome-vision-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-vision-img img{
    width: clamp(100px,50%,600px);
}

.welcome-para-vision-div h2{
    color: var(--black-text-color);
}

.Objective-Section{
    padding-top: 30px;
    min-height: 50vh;
}

.Objective-Section div:first-child{
    padding-left: 50px;
    padding-bottom: 30px;
    color: var(--black-text-color);
}

.Objective-Section div:last-child{
    padding-left: 50px;
    padding-right: 30px;
    text-align: justify;
}

.Objective-Section li{
    margin-top: 30px;
    margin-left: 20px;
    color: #333333;
}

.Data-Counter-Section{
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: maroon;
    color: var(--color);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    margin-bottom: 30px;
    margin-top: 30px;
}

.Data-Counter-Section div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Data-Counter-Section h3{
    font-size: clamp(50px,6vh,3rem);
}

/* All Media quries goes here and i will write media queries myself.
making website responsive is my task */

@media (max-width:700px) {
    header nav{
        display: none;
    }
    header div{
        display: none;
    }

    .Main-Info h1{
        font-size: 5vh;
    }

    .Main-Info h2{
        font-size: 1.3vh;
    }

    .welcome-title-div h2{
        font-size: 2vh;
    }

    .Main-Info p{
        line-height: 30px;
        font-size: 0.8rem;
    }

    @media (max-width:620px) {
        .Data-Counter-Section h3{
            font-size: 4vh;
        }

        .Data-Counter-Section label{
            font-size: 10px;
        }
    }

    @media (max-width:520px) {
        .Main-Info h1{
            font-size: clamp(20px,5vh,3rem);
        }

        .Main-Info h2{
            font-size: clamp(0.7rem,1vh,1rem);
        }

        .Main-Info-logo img{
            width: 150px;
        }
        
    }
}